-
  const newsBlog = [
    {img: "/assets/images/blog-image2.jpg", alt: "news image",  title: "cách săp xếp nội thất trong nhà", date: "12/05/2016"},
    {img: "/assets/images/blog-image3.jpg", alt: "news image",  title: "cách săp xếp nội thất trong nhà", date: "12/05/2016"},
    {img: "/assets/images/blog-image4.jpg", alt: "news image",  title: "cách săp xếp nội thất trong nhà", date: "12/05/2016"},
  ]
