-
    const detailImageList = [
        {src: "/assets/images/Product/10.jpg", alt: "detail image"},
        {src: "/assets/images/Product/11.jpg", alt: "detail image"},
        {src: "/assets/images/Product/12.jpg", alt: "detail image"},
        {src: "/assets/images/Product/13.jpg", alt: "detail image"},
        {src: "/assets/images/Product/14.jpg", alt: "detail image"}
    ]
