.product {
  &__container {
    margin-top: 25rem;
  }

  &__image {
    cursor: pointer;

    &:hover {
      color: $orange;
      transition: $transition;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      opacity: 0.9;

      .product__info {
        @include pd($x: 0.5rem);
        @include flex($justify: space-evenly);
        @include font($fs: $fs-light);

        .icon {
          @include pd($y: 0.5rem, $x: 0.5rem);
          border: none;
          background-color: $black;
          color: $white;
          border-right: 2px solid rgba($p-gray, 0.5);

          &:last-child {
            border: none;
          }

          &:hover {
            color: $orange;
            transition: $transition;
          }

          i {
            margin-right: 0.5rem;
          }
        }
      }
    }
  }

  &__info {
    @include flex(
      $direction: row,
      $align: center,
      $justify: center,
      $gap: 2rem
    );
    display: none;
    position: absolute;
    height: 50px;
    bottom: 9rem;
    left: 0;
    right: 0;
    background-color: $black;
  }

  &__item {
    @include flex($justify: space-between, $direction: row, $gap: 1rem);

    img {
      width: 100%;
    }
  }

  &__title {
    @include font($textTrans: uppercase, $fs: $fs-sizable);
    margin-top: 1rem;
    width: fit-content;
  }

  &__content {
    @include flex($align: center, $direction: column);
  }

  &__cost {
    @include font($textTrans: uppercase,
      $fs: $fs-base,
      $color: rgba($p-gray, 0.6));
    text-decoration: line-through;
    margin-left: 1rem;

    sup {
      text-decoration: none;
    }
  }
}
